**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py

_dev_space
--cfg_file
--version
data/nuscenes
build
idr_log
artifact
.vscode
*.png
*.json