**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py

_dev_space
--cfg_file
--version
data/nuscenes
build
idr_log
artifact
.vscode
*.png
*.json
*.npy
*.gz
*armen*
test_kitti_*
test_nuscenes_16*
test_pointpillar_jr_corr_nomap*
*.txt